@media (max-width: 991px) {
    
    .section-header {
        padding: -140px 0 60px 0;

      }
      
    .intro-img {
      width: 80%;
      float: none;
      margin: 0 auto 25px auto;

    }

    .intro-info {
        width: 80%;
        float: none;
        margin: auto;
        text-align: center;
    }

    .section-footer {
        padding: -140px 0 60px 0;
    }
    
  }

//   TABLET
@media (max-width: 767px) {
    .section-header {
        padding: 200px 0 480px;
        .intro-img {
            width: 50%;
            float: none;
        }
        .intro-info {
            width: 100%;
            padding-bottom: 0px auto;
          }
    }
    
  }

//   SMARTPHONE
@media (max-width: 574px) {
    .section-header {
        padding: 200px 10 10px;
        // background-color: #15949E;
        .intro-img {
            width: 50%;
            float: none;
        }

        .intro-info {
            padding-bottom: 0px auto;
        }
        
    }

    .section-footer {
        background-position: center center;

        .img-map {
            padding-bottom: 30px;
        }
    }
  }