body {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.1px;
}

.section-top {
  background-color: #00035E;
  color: #ffffff;
  font-size: 14px;
}
.section-top .menu {
  height: 30px;
}
.section-top a {
  color: #ffffff;
  padding-right: 15px;
  padding-left: 15px;
}

main {
  background-color: #F9F8FD;
}

.navmenu .breadcrumb {
  background-color: transparent !important;
  font-size: 14px;
}

.informasi {
  color: #ffffff;
}
.informasi h1 {
  font-size: 24px;
  font-weight: lighter;
}
.informasi p {
  font-size: 14px;
  font-weight: normal;
  margin-top: -8px !important;
}
.informasi h4 {
  font-size: 18px;
  font-weight: 600;
}
.informasi .card {
  height: 80px;
  border-radius: 7px;
}
.informasi .prodi {
  background: linear-gradient(#11ae95 0%, #8cc541 100%);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.informasi .sks {
  background: linear-gradient(#1bd6e3 0%, #37b9f4 100%);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.informasi .ipk {
  background: linear-gradient(#d47fcb 0%, #a78ed1 100%);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.activity .activity-title {
  height: 170px;
  background: url(../images/pink.png) center center no-repeat;
  border: none;
  color: #ffffff;
}
.activity .activity-content {
  height: 230px;
}
.activity .menuna {
  margin-top: -60px;
}
.activity .menuna img {
  width: 30px;
}
.activity .menuna a {
  text-decoration: none;
  color: #00035E;
  font-size: 14px;
  font-weight: bold;
}
.activity .menuna .card-body {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.grafik .section-title {
  height: 40px;
  border: 0;
}
.grafik .section-title .grafik-image {
  width: 25px;
  margin: 0 auto;
  float: left;
}
.grafik .section-title .grafik-title {
  margin-left: 10px;
  overflow: hidden;
  float: left;
  font-size: 14px;
  font-weight: bold;
}

.time {
  font-size: 14px;
  font-weight: normal;
}
.time .section-title {
  height: 40px;
  border: 0;
  border-radius: 5px 0px;
  background: #14cf8f;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.time .section-title .time-image {
  width: 20px;
  margin: 0 auto;
  float: left;
}
.time .section-title .time-title {
  margin-left: 10px;
  overflow: hidden;
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}
.time .section-content {
  border-radius: 0px 0px 5px 5px;
  background: #fff;
}
.time .section-content .table-time {
  margin-bottom: 10px;
  color: #00035E;
}
.time .section-content .table-time .desc-time {
  font-weight: bold;
}

.studi .section-title {
  height: 40px;
  border: 0;
}
.studi .section-title .studi-image {
  width: 25px;
  margin: 0 auto;
  float: left;
}
.studi .section-title .studi-title {
  margin-left: 10px;
  overflow: hidden;
  float: left;
  font-size: 14px;
  font-weight: bold;
}
.studi .section-content p {
  color: #00035E;
}
.studi table {
  font-size: 14px;
}
.studi .img-printer {
  width: 18px;
}
.studi .img-printer:hover {
  width: 20px;
}/*# sourceMappingURL=home.css.map */