@media (max-width: 991px) {
}

@media (max-width: 767px) {
   
    .section-left {
        background: none !important;
        height: 0px !important;
        // display: none;
        z-index: 100;
        position: relative;
        
        .annoc {
            // background: #00035E;
            background: transparent !important;
            // background: url(../images/info.png) center center no-repeat;
            height: 140px;
            margin-top: 80px !important;
            
            max-width: 90%;
            margin: 0 auto;
            
            
        }
        .box {
            max-width: 80vw !important;
            // height: 70vh !important;
            // margin: 5px;
            text-align: center;
            position: relative;
            background: #F1F1F1;
            border-radius: 10px;
            padding: 12px !important;
            
            // max-width: 400px;
            height: auto !important;
            // border-radius: 20px;
            // -webkit-box-shadow: 10px -2px 19px -2px rgba(230,230,230,1);
            // -moz-box-shadow: 10px -2px 19px -2px rgba(230,230,230,1);
            // box-shadow: 10px -2px 19px -2px rgba(230,230,230,1);
            
            h4 {
                font-size: 12px;
                color: #00035E;
                font-weight: bold;
                
            }
            p {
                font-size: 11px;
                margin-top: -20px;
                line-height: 1.3;
                color: #00035E;
            }
            a {
                font-size: 11px;
            }
            
            i .fa {
                font-size: 2px;
            }
        }
    }
    
    .section-right {
        margin: 0 auto;
        height: 100% !important;
        position: relative;
        z-index: 10;
        
        .card {
            padding-top: -100px !important;
            // background-color: yellow;
            
            img {
                padding-bottom: 150px;
            }
            
            h4 {
                padding-bottom: 16px  !important;
                font-weight: bold;
                font-size: 16px;
                
            }
        }
    }

    .section-top {
        // height: 300px !important;
        .text-right {
            display: none;
        }
    }
}

@media (max-width: 574px) {
    // .section-left {
        //     background: none;
        //     background-size: cover;
        //     height: 100vh;
        // }
        
    }



// Home 

